<!-- BEGIN FOOTER -->
<p class="copyright">2016 © Avison Young
    <a href="http://Avisonyoung.com" title="Avison Young Website" target="_blank">Avison Young</a>
</p>
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>
<!-- END FOOTER -->