<%- model_class = Document -%>
<div class="row">
  <div class="col-md-12">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <i class=" icon-layers font-green"></i>
                  <span class="caption-subject font-green bold uppercase">Documents</span>
              </div>
          </div>
          <div class="portlet-body">
              <div class="mt-element-card mt-element-overlay">
                  <div class="row">
                    <% @documents.each do |doc| %>
                      <%= render partial: "elements/doc_card", :locals => {doc: doc} %>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>