<div class="dd-handle"> 
    <h5 class="col-md-5"><%= truncate(category.name, length:20) %></h5>
    <div class="pull-right col-md-6">
        <%= link_to "Edit", edit_category_path(category), class:"btn btn-sm blue pull-right" %> 
        <%= link_to "Destroy", category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger pull-right" %>
        <%= link_to "New Sub", new_category_path(parent_id: category), class: "btn btn-sm green pull-right"%> 
  </div>
</div>


