<%- model_class = Category -%>
<div class="row">
  <div class="col-md-12">
      <div class="portlet light portlet-fit bordered">
          <div class="portlet-title">
              <div class="caption">
                  <i class=" icon-layers font-green"></i>
                  <span class="caption-subject font-green bold uppercase"><%= @category.name %></span>
              </div>
          </div>
          <div class="portlet-body">
              <div class="mt-element-card mt-element-overlay">
                  <div class="row">
                    <% Document.where(category_id: @category.id).each do |doc| %>
                      <%= render partial: "doc_card", :locals => {doc: doc} %>
                    <% end %>
                    <% if @category.has_children? %>
                      <% @category.descendants.each do |descendant| %>
                        <% Document.where(category_id: descendant.id).each do |doc| %>
                          <%= render partial: "doc_card", :locals => {doc: doc} %>
                        <% end %> 
                      <% end %> 
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>