<li>
	<div class="col1">
	    <div class="cont">
	        <div class="cont-col1">
	            <div class="label label-sm label-info">
	                <i class="fa fa-pencil green"></i>
	            </div>
	        </div>
	        <div class="cont-col2">
	            <div class="desc"><%= link_to activity.owner.email, activity.owner if activity.owner %> removed a docuemnt</div>
	        </div>
	    </div>
	</div>
	<div class="col2">
	</div>
</li>
